@font-face {
    font-family: 'neueHaas';
    src: url(fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: 'neueHaas';
    font-weight: 200;
    src: url(fonts/NeueHaasDisplay-Roman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'neueHaas';
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden
}

.loader {
    height: 100%;
    width: 100%;
    background: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 7vw;
        color: transparent;
        background: linear-gradient(to right, orange, orangered);
        -webkit-background-clip: text;
        position: absolute;
        opacity: 0;
        animation-name: load;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: linear;
    }

    h1:nth-child(2) {
        animation-delay: 2s;
    }

    h1:nth-child(3) {
        animation-delay: 3s;
    }

}

@keyframes load {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.main {
    /* background: #000; */
    position: relative;
    z-index: 10;
    overflow-x: hidden;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2.5vw 0;
    padding-right: 0.5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
}


.nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav-part2 h4 {
    padding: 13px 19px;
    border: 1px solid #54545496;
    border-radius: 9999px;
    font-weight: 600;
    color: black;
    transition: all ease 0.4s;
    font-size: 1.02em;
    position: relative;
    overflow: hidden;
}

.nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-part2 h4 a {
    text-decoration: none;
    color: #000000;
    position: relative;
    z-index: 9;
}

.nav-part2 h4:hover a {
    color: #fff;
}

nav h3 {
    display: none;
}



.center {
    height: 77.1vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 9vh;

}

.left h3 {
    width: 30vw;
    font-size: 2vw;
    line-height: 2.4vw;
    padding-left: 1vw;

}

.right h1 {
    font-size: 10vw;
    text-align: end;
    line-height: 82%;
    font-weight: bold;
    /* font-weight: 2000; */
    padding-right: 1vw;

}

.page1 video {
    width: 100%;
    border-radius: 20px;
    margin-top: 4vw;
    position: relative;
    background: #EFEAE3;
}

.hero-shape {
    position: absolute;
    width: 55vw;
    height: 37vw;
    right: 0;
    top: 83vh;
}

.hero1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(#FE330A, #fe4816);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
}

.hero2 {
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE330A, #fe4816);
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* .hero3 {
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE330A, #fe3116);
    border-radius: 100%;
    filter: blur(25px);
    
}     */

@keyframes anime1 {
    0% {
        transform: translate(-5%, 20%)
    }

    100% {
        transform: translate(33%, -10%)
    }
}

.page2 {
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

.moving-text {
    display: flex;
    gap: 2vw;
    overflow-x: auto;
    /* white-space: nowrap; */
}

.moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    display: flex;
    gap: 2vw;
    align-items: center;
    animation-name: move;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* white-space: nowrap; */
    /* display: inline-block; */
}

.moving-text h1 {
    font-size: 9vw;
    /* display: inline-block; */
}

.gola {
    height: 5vw;
    width: 5vw;
    background: #FE330A;
    border-radius: 50%;
    /* display: inline-block; */
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.page2-bottom {
    height: 80vh;
    width: 100%;
    padding: 4vw 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    z-index: 9;
}

.page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
    padding-top: 8vw;
}

.bottom-part2 {
    width: 23%;
    padding-top: 56vh;
    padding-right: 1vw
}

.bottom-part2 img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.bottom-part2 p {
    font-weight: 200;
    margin-top: 3vw;
}

.page2 .circle {
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    background: linear-gradient(to top right, #FE330A, #ee5024);
    top: 62%;
    left: 26%;
    position: absolute;
    filter: blur(20px);
    animation-name: circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes circle {
    from {
        filter: blur(20px);
        transform: translate(5%, -10%) skew(10deg);
    }

    to {
        filter: blur(25px);
        transform: translate(-5%, 6%) skew(-12deg);
    }
}

.page3 {
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
}

.sec {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding: 4vw 2vw;
}

.sec .gol {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #FE330A;
}

.sec p {
    font-weight: 200;
}

.elem {
    width: 100%;
    height: 8vw;
    position: relative;
    border-bottom: 1px solid #ADA7A7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
    /* position: relative; */
    overflow: hidden;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background: #FF9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}

.elem:hover .overlay {
    top: 0;
}

.proj {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.proj div {
    text-align: right;
    position: relative;
    z-index: 9;

    h4 {
        font-weight: 300;
    }

    p {
        font-weight: 200;
        color: #b9acac;
    }
}

.but {
    padding: 4vw 2vw;
}

.navbut {
    display: flex;
    background: #EFEAE3;
}

.navbut h4 {
    border: 1px solid #917e78dc;
    margin: 0 7px;
    border-radius: 50px;
    padding: 13px 21px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

.navbut h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.navbut h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.navbut a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
}

.navbut h4:hover a {
    color: #fff;
}

.fixed-image {
    height: 30vw;
    width: 25vw;
    border-radius: 20px;
    position: fixed;
    position: absolute;
    z-index: 50;
    left: 50%;
    top: 18%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-size: cover;
    background-position: center;
}


/* PAGE 4 WRAPPER */
.page4 {
    min-height: 150vh;
    max-width: 100%;
    overflow: hidden;
    background-color: #EFEAE3;
    padding: 5vw 0;
}

/* BLACK BOX */
.black-box {
    height: 110vh;
    margin: 0 2vw;
    background-color: black;
    border-radius: 21px;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}

/* LEFT */
.tab-sec {
    max-width: 42%;
    color: #EFEAE3;
    display: flex;
    flex-direction: column;
    padding: 0 9vw;
    gap: 14px;
}

/* TABS */
.tabs {
    position: relative;
    border-left: 2px solid #504A45;
    padding-left: 2vw;
}

.tab {
    font-size: 4.5vw;
    font-weight: bolder;
    position: relative;
    cursor: pointer;
    color: #504A45;
    transition: all 0.3s ease;
}

.tab span {
    pointer-events: none;
}

/* ACTIVE TAB */
.tab.active {
    color: rgb(239, 234, 227);
    transform: translateX(-2vw);
}

/* DESCRIPTION */
.desc {
    margin: 0;
    font-weight: 200;
    max-width: 90%;
    transition: all 0.3s ease;
}

/* RIGHT IMAGE */
.img-sec {
    height: 100%;
    flex: 1;
}

.page4-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 21px;
    transition: opacity 0.35s ease;
}

.sec2 {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding: 8vw 6vw 0px;
}

.sec2 .gol {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #FE330A;
}

.sec2 p {
    font-weight: 200;
}

.swiper {
    width: 100%;
    height: 62vh;
    padding: 5vw 6vw 10vw;
    cursor: grab;
}


.swiper-slide {
    min-width: auto;
    border-left: 1px solid #8b8b8b89;
    padding-left: 2vw;
    margin-right: 0;

    p {
        font-weight: 200;
        margin-top: 1.2vw;
    }
}


.page5 {
    height: 100vh;
    width: 100vw;
    background: transparent;
}

.footer {
    overflow-x: hidden;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: #EFEAE3;
    bottom: 0%;
    /* z-index: -1; */
}

.footer .shape1 {
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    top: -50%;
    left: -20%;
    width: 90%;
    height: 90%;
    animation-name: shape1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shape1 {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}


.footer .shape2 {
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    right: -27%;
    top: -27%;
    width: 70%;
    height: 90%;
    animation-name: shape2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shape2 {
    0% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

.footer-upper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 6.2vw 5.7vw;
    padding-bottom: 4vw;

    h2 {
        font-size: 2.1vw;
        font-weight: 700;
    }
}

.email {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 26%;

    p {
        font-weight: 200;
        /* font-size: 1.1vw; */
    }

    h6 {
        font-size: 1.2vw;
        font-weight: 200;
        padding-bottom: 0.5vw;
        border-bottom: 1px solid #d3cdc1df;
        color: #d3cdc1df;
    }
}

.footer-lower {
    position: relative;
    padding: 0 1.5vw;

    img {
        margin-top: 5vw;
        border-bottom: 1px solid #504A45;
        padding-bottom: 2vw;
        width: 100%;
    }

    div {
        padding: 1vw 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5 {
            font-weight: 200;
            font-size: 1.1vw;
        }
    }
}

.full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 999;
    top: -100%;
    transition: all ease 0.5s;


}

.full-div1 {
    height: 50%;
    width: 100%;
    background: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mob-elem {
    display: none;
}

/* responsiveness */

@media (max-width:600px) {

    .loader h1 {
        font-size: 10vw;
        right: 30%;
        top: 40%;
    }

    h1:nth-child(3) {
        right: 40%;
    }

    .page1 {
        min-height: 100vh;
        width: 100%;
        padding: 0 0vw;
    }

    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
    }

    nav img {
        height: 9vh;
        transition: all ease 0.2s;
    }



    .nav-part2 {
        display: none;
    }

    nav h3 {
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #54545496;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }

    .center {
        height: 50vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding-bottom: 10vw;
        padding: 5vw 5vw;
        flex-direction: column-reverse;

    }

    .left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
        padding-left: 4vw;
        padding-bottom: 5vw;

    }

    .right h1 {
        font-size: 16vw;
        text-align: end;
        line-height: 90%;
        font-weight: bold;
        /* font-weight: 2000; */
        padding-right: 6vw;

    }

    .page1 video {
        width: 92%;
        border-radius: 15px;
        margin-top: 4vw;
        margin-left: 4%;
        position: relative;
        object-fit: cover;
        object-position: center;
        height: 70vh;
    }

    .hero-shape {
        width: 85vw;
        height: 80vw;
        top: 60vh;
    }

    .page2 {
        min-height: 80vh;
    }


    .page2-bottom {
        height: 80vh;
        width: 100%;
        padding: 10vw 5vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        position: relative;
        z-index: 9;
    }

    .page2-bottom h1 {
        font-size: 6vw;
        width: 90%;
        line-height: 6vw;

    }

    .bottom-part2 {
        width: 85%;
        padding-top: 2vh;
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }

    .bottom-part2 img {
        height: 55%;
    }

    .bottom-part2 p {
        font-size: 4vw;
    }

    .page2 .circle {
        width: 72vw;
        height: 72vw;
        top: 25%;
        left: 30%;
    }

    .page3 {
        min-height: 100vh;
        max-width: 100vw;
        overflow: hidden;
        height: 100%;
    }


    .elem {
        display: none;
    }

    .mob-elem {
        background-color: #EFEAE3;
        display: flex;
        flex-direction: column;
        padding: 4vw;
        gap: 1vh;

        img {
            width: 100%;
            height: 50vh;
            object-position: center;
            object-fit: cover;
            border-radius: 16px;
        }

        h2 {
            font-weight: 700;
            font-size: 9vw;
        }

        h4 {
            font-weight: 200;
            font-size: 7vw;
        }

        p {
            font-weight: 200;
            color: rgb(173, 167, 167);
            font-size: 4vw;
        }
    }




    .black-box {
        height: auto;
        flex-direction: column;
        padding-bottom: 4vw;
        display: flex;
        align-items: start;

    }

    /* LEFT */
    .tab-sec {
        width: 100%;
        padding: 8vw 0 4vw 4vw;
        gap: 4vw;

    }

    .tabs {
        border-left: 2px solid #504A45;
        padding-left: 4vw;
    }

    .tab {
        font-size: 7.5vw;
    }

    .tab.active {
        transform: translateX(-3vw);
    }

    .desc {
        font-size: 3.3vw;
        line-height: 1.6;
        max-width: 100%;
    }

    /* IMAGE */
    .img-sec {
        width: 100%;
        padding: 0 4vw 0 4vw;
    }

    .page4-img {
        height: 45vh;
        border-radius: 18px;
        object-fit: cover;
    }

    .swiper {
        width: 100%;
        height: 50vh;
        padding-top: 20vw;
    }


    .swiper-slide {
        min-width: 55%;
        padding-left: 8vw;


        p {
            font-weight: 200;
            margin-top: 8vw;

        }
    }

    .page5 {
        min-height: 100vh;
    }

    .page5 {
        height: 100%;
        max-width: 100vw;
        overflow: hidden;
    }

    .footer .shape1 {
        display: none;
    }

    .footer .shape2 {
        filter: blur(30px);
        top: -70%;
        left: -30%;
        width: 300%;
        height: 120%;
    }

    .footer-upper {
        flex-direction: column;
        top: 25%;
        align-items: flex-start;

        h2 {
            font-size: 10vw;
        }
    }

    .email {
        display: flex;
        flex-direction: column;
        padding-top: 2vh;
        gap: 3vw;
        width: 90%;

        p {
            font-size: 2.5vh;
        }

        h6 {
            font-size: 2vh;
            padding-bottom: 1vh;
        }
    }

    .footer-lower {
        top: 35%;

        img {
            padding-bottom: 3vh;
        }

        div {
            padding: 3vw 2vw;
            flex-wrap: wrap;
            gap: 1vh;

            h5 {
                font-size: 2vh;
            }
        }
    }

}